/* =============================================================================
  #RESET
============================================================================= */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0;margin:0 0 1em}

/* =============================================================================
  #TOOLS
============================================================================= */
html { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
*, *:before, *:after { -webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit; }

/* =============================================================================
  #GENERAL
============================================================================= */
* {
  font-family: inherit;
  line-height: inherit;
  color: inherit;
}

body {
	font-family: 'Space Mono', monospace, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
	font-size: .9rem;

  color: hsl(240, 2%, 88%);
  line-height: 1.6;

background-color: hsl(274, 92%, 57%);
}

@media only screen and (min-width: 900px) {
		body {
			font-size: 1rem;
		}
}

::selection {
  color: hsl(216, 12%, 8%);
  background: hsl(240, 2%, 88%);
}

::-moz-selection {
  color: hsl(216, 12%, 8%);
  background: hsl(240, 2%, 88%);
}

main > footer p::selection {
	color: hsl(216, 12%, 8%);
  background: hsl(68, 100%, 51%);
}
main > footer p::-moz-selection {
	color: hsl(216, 12%, 8%);
  background: hsl(68, 100%, 51%);
}

main > header p mark::selection,
h2::selection,
button::selection {
	color: hsl(68, 100%, 51%);
  background-color: hsl(216, 12%, 8%);
}
main > header p mark::-moz-selection,
h2::-moz-selection,
button::-moz-selection {
	color: hsl(68, 100%, 51%);
  background-color: hsl(216, 12%, 8%);
}


img {
  max-width: 100%;
  font-style: italic;
  vertical-align: middle;
}

/* =============================================================================
  #TYPOGRAPHY
============================================================================= */
h1, h2, h3, h4, h5, h6 {
	margin: 0 0 .25rem 0;
  /* line-height: 1.1; */
}

/* Add margin top to heading when it comes after another piece of content */
* + h1, * + h2, * + h3, * + h4, * + h5, * + h6 {
}

h1 {
	font-size: 1.4rem;
	text-transform: uppercase;
}

h2 {
	display: inline-block;
	padding: .25rem .375rem;

	background-color: hsl(68, 100%, 51%);
	/* background-color: hsl(68, 100%, 51%); */

	color: hsl(216, 12%, 8%);
	text-transform: uppercase;
	font-size: 1rem;

	border-radius: .275rem;

	margin-bottom: .75rem;
}

p {
  margin-bottom: 2rem;
}

small {
	font-size: .775rem;
	opacity: 70%;
}

@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 900px) {
	h1 {
		font-size: 1.9rem;
	}

	h2 {
		font-size: 1.2rem;
	}
}

@media only screen and (min-width: 1150px) {
}

.tag {
	background-color: hsl(216, 14%, 40%);
	padding: 0 .15rem;
	border-radius: .2rem;
	white-space: nowrap;
}

a {
  color: hsl(206, 62%, 59%);
}

strong {
  font-weight: 700;
}

em, i {
  font-style: italic;
}

ul, ol {
  padding-left: 1.8rem;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

.hide {
	display: none;
}
/* =============================================================================
  #HEADER
============================================================================= */
main > header,
footer {
	padding: .75rem;
	text-align: center;
	background-color: hsl(68, 100%, 51%);
	font-size: .9rem;
}

footer {
	background-color: hsl(274, 92%, 57%);
}

	main > header p,
	footer p,
	main > header a {
		color: hsl(216, 12%, 8%);
		font-weight: 700;
		margin: 0;
		letter-spacing: .015rem;
	}

	main > header a:focus {
		border-color: hsl(318, 100%, 51%);
	}

	footer p {
		color: #FFF;
	}

	main mark {
		background-color: transparent;
	}

article > header {
	position: relative;
	background-color: hsl(216, 12%, 8%);

	display: flex;
	justify-content: center;
	flex-direction: column;
}

		article > header * {
			margin: 0;
		}

		.web_dev-symbol {
			display: none;
		}

	@media only screen and (min-width: 390px) {
		article > header p{
			padding-right: 4.5rem;
		}

		.web_dev-symbol.image--mobile {
			display: block;
		}

		.web_dev-symbol {
			position: absolute;

			right: -.45rem;
			top: 50%;

			transform: translateY(-50%);
			/* top: -.325rem; */

			width: 4.5rem;
			height: auto;
		}
	}

	@media only screen and (min-width: 900px) {
		.web_dev-symbol.image--mobile {
			display: none;
		}

		.web_dev-symbol.image--desktop {
			display: block;
		}

		.web_dev-symbol {
			right: unset;
			left: -5rem;
			top: -5rem;

			transform: none;
			width: 6.25rem;
		}

		article > header p{
			padding-right: 0;
		}
	}

		article > header h1 {
			margin-bottom: 0;
		}

		article > header p {
			font-size: 1rem;
		}

		@media only screen and (min-width: 900px) {
				article > header p {
					font-size: 1.1rem;
				}
		}


/* main content */
article > section {
	position: relative;
	margin: 0 auto;
}

	.smiley-stamp {
		display: none;
		position: absolute;
		right: -7rem;
		top: -3rem;

		width: 5.8rem;
		height: auto;
	}


	@media only screen and (min-width: 900px) and (prefers-reduced-motion: no-preference ) {
		.floating {
			transform: translate(0,0); /* Set the initial position of the box */
			transition: transform 1s ease-in-out; /* Add a transition effect */
			animation: floating 2.5s infinite; /* Add a continuous animation */
		}

		.floating:nth-of-type(odd) {
			animation: floating 2.5s -1.5s infinite; /* Add a continuous animation */
		}
	}

	@keyframes floating {
		0% {
			transform: translate(0,0); /* Set the starting position */
		}
		50% {
			transform: translate(0,-10px); /* Move the box up */
		}
		100% {
			transform: translate(0,0); /* Move the box back to the starting position */
		}
	}

	.arrow-stamp {
		display: none;
		position: absolute;
		top: 0;

		width: 3.125rem;
		height: auto;

	}

		.arrow-stamp > img {
			display: block;
			margin-top: -0.5rem;
			/* opacity: 0.3;
			animation: arrow-light 1.5s linear infinite; */
		}

		@media (prefers-reduced-motion: no-preference) {
			.arrow-stamp > img {
				display: block;
				margin-top: -0.5rem;
				opacity: 0.3;
				animation: arrow-light 1.5s linear infinite;
			}
		}

		.arrow-stamp img:first-of-type {
			margin: 0;
			animation-delay: 0s;
		}
	
		.arrow-stamp img:nth-of-type(2)  {
			animation-delay: 0.5s;
		}

		.arrow-stamp img:last-of-type {
			animation-delay: 1s;
		}

		@keyframes arrow-light {
			0% {
				opacity: 0.3;
			}
			50% {
				opacity: 1;
			}
			100% {
				opacity: 0.3;
			}
		}

	.arrow-stamp.arrow-stamp--purple {
		left: -7rem;
		top: 25%;
	}
	.arrow-stamp.arrow-stamp--green {
		right: -7rem;
		top: 60%;
	}

	.arrow-stamp--left {
		right: unset;
		left: -7rem;
	}

	@media only screen and (min-width: 900px) {
		.arrow-stamp, .smiley-stamp {
			display: block;
		}
	}
/* =============================================================================
  #MAIN
============================================================================= */
main {
	background-color: hsl(216, 12%, 8%);
}

article {
	max-width: 100%;
	margin: 0 auto;
	padding: 1.2rem 1rem 2rem 1rem;

	transition: max-width 250ms ease-in-out;
}

@media only screen and (min-width: 600px) {
		article {
			max-width: 80%;
			padding: 2rem 0;
		}
}

@media only screen and (min-width: 900px) {
		article {
			padding: 7.5rem 1rem 3rem 1rem;
			max-width: 65%;
		}
}

@media only screen and (min-width: 1150px) {
		article {
			max-width: 50%;
		}
}

section + form,
form + section {
	margin-top: 1.5rem;
	padding-top: 1.5rem;

	/* border-top: .125rem solid #c8ced8; */
}

section > header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: .75rem;
}

	.enquete > header h1 {
		margin-bottom: .2rem;
	}

	.enquete > header p {
		font-size: .875rem;
	}

	.enquete > header p + p {
		margin-top: .6rem;
	}

	section > header h2 {
		margin-bottom: 0;
	}

	section > header h2 + * {
		margin-left: .75rem;
	}


hr {
  margin: 1.8rem 0;

  height: .15rem;

  background-color: hsl(218, 12%, 27%);
  border: none;
  border-radius: .3rem;
}


@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 900px) {
	hr {
		margin: 2.5rem 0;
	}
}

@media only screen and (min-width: 1150px) {
}

/* =============================================================================
  #PAGES
============================================================================= */
.default {}

/* =============================================================================
  #FORM
============================================================================= */
form {
		display: inline-block;
    width: 100%;
}

	fieldset {}

		fieldset div > * {
			display: block;
			width: 100%;
		}

			label {
				text-transform: uppercase;
				font-weight: 700;
				margin-bottom: .7rem;
			}

			@media only screen and (min-width: 900px) {
				label {
					font-size: 1rem;
				}
			}

			input[type="text"],
			input[type="tel"],
			input[type="number"] {
				display: block;
				border: none;

				border-radius: .275rem;
				padding: 1rem .875rem;
				font-size: .875rem;
				background-color: transparent;
				/* background-color: hsl(216, 14%, 40%); */
				border: .125rem solid hsl(216, 14%, 40%);
				transition: border 250ms ease-in-out;
			}

			input[type="checkbox"] {
				opacity: 0;
				appearance: none;
				position: absolute;
				margin: 0;
			}

			input:hover {
				border: .125rem solid hsl(68, 100%, 51%);
				/* border: .125rem solid hsl(217, 14%, 32%); */
			}

			input:focus,
			a:focus {
				outline: none;
				/* border: .125rem solid hsl(318, 100%, 51%); */
				border: .125rem solid hsl(68, 100%, 51%);
			}

			input::placeholder {
				color: hsl(216, 14%, 40%);
				/* color: hsl(217, 10%, 43%); */
			}

		fieldset div + div {
			margin-top: 1.8rem;
		}

		fieldset div + .hide,
		fieldset .hide + div {
			margin-top: 0;
		}

		.radio-wrapper + .grade-indicator {
			margin-top: .8rem;
		}

		.checkbox-wrap > * {
			display: inline-block;
			width: auto;
		}

		.checkbox-wrap label {
			display: flex;
			align-items: center;
			
			position: relative;
			text-transform: none;
			font-size: .9rem;
			font-weight: 500;
			cursor: pointer;

			margin: 0;
		}

		legend {
			display: inline-block;
			padding: 0.25rem 0.375rem;
			/* color: hsl(240, 2%, 88%); */
			/* background-color: hsl(274, 92%, 57%); */
			background-color: hsl(68, 100%, 51%);
			color: hsl(216, 12%, 8%);
			text-transform: uppercase;
			font-size: 1rem;
			border-radius: 0.275rem;
			margin-bottom: 0.75rem;
			font-weight: 700;
		}

	fieldset + fieldset {
		margin-top: 1.5rem;
	}

	.enquete fieldset > .radio-wrapper {
		position: relative;
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		
		gap: .3rem;
		margin-top: .75rem;
	}

	.enquete fieldset > .grade-indicator {
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-size: .8rem;
	}

	.enquete fieldset > .grade-indicator > * {
		width: auto;
		font-weight: 500;
	}

		.enquete label > span {
			/* width: 2.5rem;
			height: 2.5rem; */
			border: .125rem solid hsl(216, 14%, 40%);

			height: 4rem;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			margin: 0;
			border-radius: .175rem;
			cursor: pointer;
			transition: all 250ms ease-in-out;
		}

		.enquete label {
			margin: 0;
		}

		@media only screen and (min-width: 600px) {
			.enquete fieldset > div:first-of-type {
				grid-template-columns: repeat(10, 1fr);
			}

			.enquete label > span {
				height: 3.5rem;
			}
		}
		@media only screen and (min-width: 900px) {


			.enquete label > span {
				height: 3.6rem;
				font-size: 1rem;
			}
		}

			.enquete input[type="radio"] {
				opacity: 0;
				position: absolute;
				appearance: none;
			}

			.enquete label:hover span,
			.enquete input[type="radio"]:focus + span {
				transform: scale(1.08);
				/* border: .125rem solid hsl(318, 100%, 51%); */
				border: .125rem solid hsl(68, 100%, 51%);
			}

			.enquete input[type="radio"]:checked + span {
				border: .125rem solid hsl(68, 100%, 51%);
				background-color: hsl(68, 100%, 51%);
				color: hsl(216, 12%, 8%);
			}


.checkbox-wrap label > span:first-of-type {
	position: relative;
	display: block;

	width:  1.625rem;
	min-width: 1.625rem;
	height:  1.625rem;

	border-radius: .25rem;

	background-color: hsl(216, 14%, 40%);
	transition: all 270ms ease-in-out;

	border: .125rem solid hsl(216, 14%, 40%);

	margin-right: 1rem;
}

fieldset p {
	margin: 0;
	font-weight: 700;
}

fieldset small {
	font-weight: 500;
}


.checkbox-wrap label:hover > span:first-of-type {
	border: .125rem solid hsl(68, 100%, 51%);
}

.checkbox-wrap input[type="checkbox"]:focus-visible + label > span:first-of-type {
	/* border-color: hsl(318, 100%, 51%); */
	border-color: hsl(68, 100%, 51%);
}

.checkbox-wrap input[type="checkbox"]:checked + label > span:first-of-type {
	border-color: hsl(68, 100%, 51%);
	background-color: hsl(68, 100%, 51%);
}

@keyframes checkmarkAnimation {
	0% {
		opacity: 0;
		transform: scale(1.4);
	}

	50% {
		opacity: 100%;
		transform: scale(0.8);
	}

	100% {
		opacity: 100%;
		transform: scale(1);
	}
}

	.checkbox-wrap label > span:first-of-type img {
		opacity: 0;

		transition: all 270ms ease-in-out;
		animation-duration: .55s;
		animation-timing-function: linear;
		animation-fill-mode: forwards;
		animation-direction: normal;
		animation-iteration-count: 1;

		filter: brightness(0);

		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		padding: .275rem;
	}

	.checkbox-wrap input[type="checkbox"]:checked + label > span:first-of-type img {
		animation-name: checkmarkAnimation; 
	}


.message {
	background-color: hsl(274, 92%, 57%);
    margin-top: 1rem;
    padding: 0.6rem 0.8rem;
    border-radius: 0.275rem;
}

	.message p {
		color: hsl(240, 2%, 88%);
		font-size: .775rem;
	}
/* =============================================================================
  #COURSES
============================================================================= */
.courses {
	list-style: none;
	padding: 0;

	margin-top: 1rem;
}

	.course__item {
		border-radius: .275rem;
		/* background-color: hsl(216 13% 40%); */
		/* background-color: hsl(216, 14%, 40%); */
		transition: all 250ms ease-in-out;
	}

		.course__item a {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: .875rem 1rem;

			border-radius: .275rem;
			text-decoration: none;
			color: hsl(240, 2%, 88%);
			border: .125rem solid hsl(216, 14%, 40%);
			/* border: .125rem solid hsl(240, 2%, 88%); */
		}

			.course__item a > * {
				display: inline-block;
				margin: 0;
			}

			.course__item h3 {
				font-size: .9rem;
			}

			.course__item p {
				font-size: .8rem;
			}

				.course__item p > span:nth-last-of-type() {
					display: none;
				}

				@media only screen and (min-width: 600px) {
					.course__item p > span:last-of-type {
						display: inline-block;
					}
				}

			.course__item .tag {
				font-weight: 700;
				padding: .25rem .375rem;
				color: hsl(216, 12%, 8%);
				background-color: hsl(240, 2%, 88%);
			}

			.course__item .tag.tag--completed {
				background-color: hsl(146, 92%, 57%);
			}

		.course__item:hover {
			transform: scale(1.01);
		}
		.course__item a:focus {
			transform: scale(1.01);
			/* border: .125rem solid hsl(318, 100%, 51%); */
			border: .125rem solid hsl(68, 100%, 51%);
		}

		.course__item + .course__item {
			margin-top: 1rem;
		}

		progress {
			/* Reset the default appearance */
			-webkit-appearance: none;
			appearance: none;

			width: 30%;
			height: .8rem;
			border-radius: .5rem;
			border: none; /* Needed for Firefox */
		}

		progress[value]::-webkit-progress-bar {
			background-color: hsl(240, 2%, 88%);
			border-radius: .5rem;
		}

		progress[value]::-webkit-progress-value {
			background-color: hsl(274, 92%, 57%);
			border-radius: .5rem;
			transition: all 250ms ease-in-out;
		}

		progress[value]::-moz-progress-bar {
			background-color: hsl(274, 92%, 57%);
			border: none;
		}

/* =============================================================================
  #BUTTON
============================================================================= */
button, .btn {
	border: none;
	margin: 0;
	padding: .575rem .75rem;

	width: auto;
	overflow: visible;

	background-color: hsl(68, 100%, 51%);
	color: hsl(216, 12%, 8%);
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1rem;
	min-width: 11rem;

	border-radius: .275rem;
	line-height: normal;
	text-align: center;

	/* Corrects inability to style clickable `input` types in iOS */
	-webkit-appearance: none;

	display: block;

	border: .175rem solid hsl(68, 100%, 51%);
	transition: all 250ms ease-in-out;
	cursor: pointer;
	text-decoration: none;
}


	.btn--secondary {
		background-color: transparent;
		border: .175rem solid hsl(216, 12%, 8%);
		padding: 0;
		text-decoration: underline;
		color: hsl(240, 2%, 88%);
		min-width: auto;
	}

	.default button {
		margin: 0 0 0 auto;
	}


.btn-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column-reverse;
	margin-top: 1.5rem;
}

	.btn-container .btn,
	.btn-container button {
		/* margin: 0; */
		width: 100%;
	}

	.btn-container > * + * {
		margin: 0 0 1.2rem 0;
	}

	@media only screen and (min-width: 600px) {
		
		.btn-container {
			align-items: center;
			justify-content: space-between;
			flex-direction: row;
		}

			.btn-container > * + *,
			.btn-container .btn,
			.btn-container button {
				width: auto;
			}

			.btn-container > * + * {
				margin: 0;
			}
	}

button:focus,
.btn:focus {
	outline: none;
	border-color: hsl(318, 100%, 51%);
}

button:hover,
.btn:hover {
	transform: scale(1.03);
}

button + *,
* + button {
	margin-top: 1.5rem;
}


button:disabled {
	opacity: 40%;
	cursor: default;
}

button:disabled:hover {
	transform: none;
}

@media (prefers-color-scheme: light) {
	body, footer p, .course__item a {
		color: hsl(216, 12%, 8%);
	}
	
		main,article > header {
			background-color: hsl(0 0% 90%);
		}

		body, main > header, footer, h2,
		button, .btn, legend {
			background-color: hsl(110 100% 50%);
		}

		button, .btn, .enquete input[type="radio"]:checked + span {
			color: #FFF;
			background-color: hsl(248 92% 57%);
			border-color: hsl(248 92% 57%);
		}

		.btn--secondary {
			color: hsl(216, 12%, 8%);
			border-color: transparent;
			background-color: transparent;
		}

		.message {
			background-color: hsl(248 92% 57%);
		}

		input:hover, input:focus, a:focus, .course__item a:focus, .enquete label:hover span, .enquete input[type="radio"]:focus + span {
			border-color: hsl(248 92% 57%);
		}

		.checkbox-wrap input[type="checkbox"]:checked + label > span:first-of-type {
			border-color: hsl(248 92% 57%);
			background-color: hsl(248 92% 57%);
		}

		.checkbox-wrap label > span:first-of-type img {
			filter: brightness(1)
		}

		small {
			opacity: 80%;
		}

		.tag, .course__item .tag, progress[value]::-webkit-progress-bar {
			background-color: hsl(0 2% 75% / 1);
		}

		progress[value]::-webkit-progress-value {
			background-color: hsl(248 92% 57%);
		}

		progress[value]::-moz-progress-bar {
			background-color: hsl(248 92% 57%);
		}

		.course__item .tag.tag--completed {
			color: #FFF;
			background-color: hsl(247.46deg 92.63% 57.45%);
		}

		::selection {
			color: #FFF;
			background: hsl(318, 100%, 51%);
		}

		::-moz-selection {
			color: #FFF;
			background: hsl(318, 100%, 51%);
		}

		main > footer p::selection {
			color: hsl(216, 12%, 8%);
			background: #FFF;
		}
		main > footer p::-moz-selection {
			color: hsl(216, 12%, 8%);
			background: #FFF;
		}

		main > header p mark::selection,
		h2::selection,
		button::selection {
			color: hsl(216, 12%, 8%);
			background: #FFF;
		}
		main > header p mark::-moz-selection,
		h2::-moz-selection,
		button::-moz-selection {
			color: hsl(216, 12%, 8%);
			background: #FFF;
		}


}